html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	background: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	font-family: 'Poiret One';
}

.invis {
	opacity: 0;
}
.hide {
	display: none;
}

/* CUBE STYLES*/
#wrap, #cube, .side, .page {
	width: inherit;
	height: inherit;
}

#cube {
	position: relative;
	transform-style: preserve-3d;
	transform-origin: 50% 50% -960px;
	backface-visibility: hidden;
	transition: 1s all;
}
.side {
	position: absolute;
	transform-origin: 50% 50% -960px;
	text-align: center;
	font-family: 'Poiret One', Arial;
	color: #fff;
	transition: 1s all;
}


#side2 {
	transform: rotateY(90deg);
}
#side3 {
	transform: rotateY(180deg);
}
#side4 {
	transform: rotateY(-90deg);
}

/* BUTTON STYLES*/
#next, #back {
	width: 80px;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	transition: background-color .5s;
	cursor: pointer;
}
#back:hover, #next:hover {
	background-color: rgba(255, 255, 255, .3);
}

#next {
	right: 0;
}
#next:after {
    content: "";
    background-image: url("../img/next.png");

    position: absolute;
    right: 0px;
    top: 50%;

    margin-top: -64px;

    width: 64px;
    height: 64px;
}

#back {
	left: 0;
}

#back:after {
    content: "";
    background-image: url("../img/back.png");

    position: absolute;
    left: 0px;
    top: 50%;

    margin-top: -64px;

    width: 64px;
    height: 64px;
}

/* PAGE 1 (SIDE 1) */
#logo {
	background: url(../img/logo.png);

    width: 300px;
    height: 300px;

    margin: 10% auto 0;

    border: 14px solid rgba(255, 255, 255, 0.09);
    border-radius: 50% 50%;

    background-position: center;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.09);
}

#code {
    opacity: .8;
    font-size: 50px;
}
/* PAGE 2 (SIDE 2) */
#technology > h1 {
	margin-top: 10%;
	font-size: 60px;
}
.names-technology {
	font-size: 50px;
	padding: 10px 30%;
}

/* PAGE 3 (SIDE 3) */
#projects > h1 {
	font-size: 60px;
}
.project {
    padding: 10px 30%;
}
.label-project {
    font-size: 80px;
    text-align: center;
    margin: 10px 0;
}
.description-project {
	font-size: 30px;
	line-height: 30px;
}

.progress {
    width: 200px;
    height: 15px;
    border-radius: 10px 10px;
    border: 3px solid #fff;
    position: relative;
    margin: auto;
    font-size: 20px;
}

.progress-value {
	height: 15px;
	border-radius: 10px 10px;
    background-color: #fff;
}

/* PAGE 4 (SIDE 4) */
#contact > h1 {
	margin-top: 10%;
	font-size: 100px;
}

.contact-link {
	font-size: 70px;
	margin-bottom: 20px;
}