
body {
	overflow-x: hidden;
}
section {
  position: relative;
	padding: 0 !important;
	margin-top: 10%;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
}

.mui-panel {
	padding-bottom: 50px;
	margin-bottom: 10%;
	border-radius: 3px;
	border-top: 3px solid #333;
	/*box-shadow: 0 0 10px rgba(0, 0, 0, .3);*/
}

.avatar {
	width: 300px;
	height: 300px;
	margin: auto;
	margin-top: 10%;
	background-position: center;
	background-size: cover;
	position: relative;
	border-radius: 50%;
	border: 5px solid rgb(17, 17, 17);
}

@media only screen and (max-width: 520px) {
		.avatar {
			width: 200px;
			height: 200px;
    }
}

/* UI ELEMENTS*/
section .label {
	text-align: center;
	font-weight: 200;
	font-family: Roboto Light;
	font-variant-caps: all-petite-caps;
}
section .text {
	text-align: center;
	font-size: 1.2em;
	font-family: Roboto Light;
	padding: 0 10%;
}

/* CONTACTS LINK*/
.links {
	margin-top: 10px;
}
.links li {
	font-size: 1.8em;
}
.links a {
	color: rgb(17, 17, 17);
}

/* PROJECTS LIST*/
.project {
  padding-bottom: 36px;
}
.project .project__image {
	width: 100%;
	height: 185px;
	margin-top: 30px;
	background-position: center;
	background-size: cover;
	background-color: #333;
}
.project .project__label {
	font-family: Roboto Light;
	font-size: 2em;
}
.project .project__description {
	font-size: 1.2em;
  font-family: Roboto Light;
}
.project .project__btn {
	background-color: rgb(17, 17, 17);
	color: #fff;
}
