::-moz-selection {
	background: rgba(17, 17, 17, .4);
}
::selection {
	background: rgba(17, 17, 17, .4);
}

body {
	overflow-x: hidden;
}
section {
  position: relative;
	padding: 0 !important;
	margin-top: 30%;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
}

.mui-panel {
	padding-bottom: 50px;
}
.dark {
	background-color: rgb(17, 17, 17) !important;
	color: #fff !important;
}

/* UI ELEMENTS*/
section .label {
	text-align: center;
	font-weight: 200;
	font-family: Roboto Light;
	font-variant-caps: all-petite-caps;
}
section .text {
	text-align: center;
	font-family: Roboto Light;
	padding: 0 10%;
}

section .contacts-text {
	line-height: 0.8em;
}

/* CONTACTS LINK*/
.links {
	margin-top: 10px;
}
.links li {
	font-size: 1.8em;
}
.links a {
	color: rgb(17, 17, 17);
}

/* PROJECTS LIST*/
.project {
  padding-bottom: 36px;
}
.project__image {
	width: 185px;
	height: 185px;
	margin: 35px auto 0;
	background-position: center;
	border-radius: 50%;
	background-size: cover;
	background-color: #333;
}
.project__label {
	font-family: Roboto Light;
	font-size: 2em;
}
.project__description {
	font-size: 1.2em;
  font-family: Roboto Light;
}
